body {
  background-image: url(images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  width: 1440px;
  border-top: solid #000;
  border-left: solid #000;
  border-right: solid #000;
  border-bottom: solid #000;
  position: absolute;
  margin: 0 auto;
  padding-left: 75px;
  color: #fff;
  font-size: 12px;
  font-family: open sans;
  font-weight: 400;
}
header {
  margin-top: 60px;
  margin-bottom: 75px;
  position: relative;
}
.left-side {
  float: left;
  width: 50%;
  margin-right: 50px;
}
.right-side {
  float: left;
  width: 40%;
}
img .img-left {
  width: 450px;
  height: 430px;
}
.logo {
  width: 210px;
}
button {
  border-radius: 10px;
  width: 200px;
  height: 60px;
  color: hsl(257, 40%, 49%);
}
